@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Red Hat in the Cloud(s) Session!</h1>
    <h3>This is a simple demo using .Net Core</h3>
    <br/>
    <br/>
    <p>Enhance your development skills with a cost-free dev sandbox at <a href="https://openshift.io">OpenShift.io</a></p>
</div>
